<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">

					<div class="select-list">
						<ul>
							<li>
								用户名：<input type="text" name="username"/>
							</li>

							<li>
								用户手机号：<input type="text" name="userphone"/>
							</li>

							<li>
								车牌号：<input type="text" name="usercarnumber"/>
							</li>

							<li>
								车辆品牌：<input type="text" name="usercarbrandname"/>
							</li>

							<li>
								车辆照片：<input type="text" name="usercarphoto"/>
							</li>

							<li>
								车辆颜色：<input type="text" name="usercarcolor"/>
							</li>

							<li>
								车辆停放位置：<input type="text" name="usercarlocation"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:customer:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:customer:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:customer:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:customer:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:customer:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:customer:remove')}]];
        var prefix = ctx + "system/customer";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "用户",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'userid', 
					title : '用户id',
					visible: false
				},
				{
					field : 'username', 
					title : '用户名',
					sortable: true
				},
				{
					field : 'userphone', 
					title : '用户手机号',
					sortable: true
				},
				{
					field : 'usercarnumber',
					title : '车牌号',
					sortable: true
				},
					{
                        field : 'usercarbrandname',
                        title : '车辆品牌',
                        visible: false
                    },
                    {
                        field : 'usercarphoto',
                        title : '车辆照片',
                        sortable: true
                    },
                    {
                        field : 'usercarcolor',
                        title : '车辆颜色',
                        sortable: true
                    },
                    {
                        field : 'usercarlocation',
                        title : '车辆停放位置',
                        sortable: true
                    },

		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.userid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.userid + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>