<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.areainfo.mapper.AreainfoMapper">
    
    <resultMap type="Areainfo" id="AreainfoResult">
        <result property="areaid"    column="areaid"    />
        <result property="areaname"    column="areaname"    />
    </resultMap>
	
	<sql id="selectAreainfoVo">
        select areaid, areaname from areainfo
    </sql>
	
    <select id="selectAreainfoList" parameterType="Areainfo" resultMap="AreainfoResult">
        <include refid="selectAreainfoVo"/>
        <where>  
            <if test="areaid != null "> and areaid = #{areaid}</if>
             <if test="areaname != null  and areaname != '' "> and areaname = #{areaname}</if>
         </where>
    </select>
    
    <select id="selectAreainfoById" parameterType="Integer" resultMap="AreainfoResult">
        <include refid="selectAreainfoVo"/>
        where areaid = #{areaid}
    </select>
        
    <insert id="insertAreainfo" parameterType="Areainfo">
        insert into areainfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="areaid != null  ">areaid,</if>
			<if test="areaname != null  and areaname != ''  ">areaname,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="areaid != null  ">#{areaid},</if>
			<if test="areaname != null  and areaname != ''  ">#{areaname},</if>
         </trim>
    </insert>
	 
    <update id="updateAreainfo" parameterType="Areainfo">
        update areainfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaname != null  and areaname != ''  ">areaname = #{areaname},</if>
        </trim>
        where areaid = #{areaid}
    </update>

	<delete id="deleteAreainfoById" parameterType="Integer">
        delete from areainfo where areaid = #{areaid}
    </delete>
	
    <delete id="deleteAreainfoByIds" parameterType="String">
        delete from areainfo where areaid in 
        <foreach item="areaid" collection="array" open="(" separator="," close=")">
            #{areaid}
        </foreach>
    </delete>
    
</mapper>