<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.evaluation.mapper.EvaluationMapper">
    
    <resultMap type="Evaluation" id="EvaluationResult">
        <result property="clientid"    column="clientid"    />
        <result property="clientmessage"    column="clientmessage"    />
        <result property="complain"    column="complain"    />
        <result property="washpersonpid"    column="washpersonpid"    />
        <result property="washpersonname"    column="washpersonname"    />
    </resultMap>
	
	<sql id="selectEvaluationVo">
       /* select clientid, clientmessage, complain, washpersonpid from evaluation*/

       select clientid,clientmessage,complain,washpersonname
       from evaluation,carwashperson
       where evaluation.clientid=carwashperson.washpersonpid

    </sql>
	
    <select id="selectEvaluationList" parameterType="Evaluation" resultMap="EvaluationResult">
        <include refid="selectEvaluationVo"/>
        <where>  
            <if test="clientid != null "> and clientid = #{clientid}</if>
             <if test="clientmessage != null  and clientmessage != '' "> and clientmessage = #{clientmessage}</if>
             <if test="complain != null  and complain != '' "> and complain = #{complain}</if>
             <if test="washpersonpid != null "> and washpersonpid = #{washpersonpid}</if>
         </where>
    </select>
    
    <select id="selectEvaluationById" parameterType="Integer" resultMap="EvaluationResult">
        <include refid="selectEvaluationVo"/>
        where clientid = #{clientid}
    </select>
        
    <insert id="insertEvaluation" parameterType="Evaluation">
        insert into evaluation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="clientid != null  ">clientid,</if>
			<if test="clientmessage != null  and clientmessage != ''  ">clientmessage,</if>
			<if test="complain != null  and complain != ''  ">complain,</if>
			<if test="washpersonpid != null  ">washpersonpid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="clientid != null  ">#{clientid},</if>
			<if test="clientmessage != null  and clientmessage != ''  ">#{clientmessage},</if>
			<if test="complain != null  and complain != ''  ">#{complain},</if>
			<if test="washpersonpid != null  ">#{washpersonpid},</if>
         </trim>
    </insert>
	 
    <update id="updateEvaluation" parameterType="Evaluation">
        update evaluation
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientmessage != null  and clientmessage != ''  ">clientmessage = #{clientmessage},</if>
            <if test="complain != null  and complain != ''  ">complain = #{complain},</if>
            <if test="washpersonpid != null  ">washpersonpid = #{washpersonpid},</if>
        </trim>
        where clientid = #{clientid}
    </update>

	<delete id="deleteEvaluationById" parameterType="Integer">
        delete from evaluation where clientid = #{clientid}
    </delete>
	
    <delete id="deleteEvaluationByIds" parameterType="String">
        delete from evaluation where clientid in 
        <foreach item="clientid" collection="array" open="(" separator="," close=")">
            #{clientid}
        </foreach>
    </delete>
    
</mapper>