<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.orders.mapper.OrdersMapper">
    
    <resultMap type="Orders" id="OrdersResult">
        <result property="orderid"    column="orderid"    />
        <result property="ordernumber"    column="ordernumber"    />
        <result property="ordertime"    column="ordertime"    />
        <result property="washtime"    column="washtime"    />
        <result property="cabinetcode"    column="cabinetcode"    />
        <result property="chestsite"    column="chestsite"    />
        <result property="orderstatus"    column="orderstatus"    />
        <result property="usercarid"    column="usercarid"    />
        <result property="shopid"    column="shopid"    />
        <result property="userid"    column="userid"    />
        <result property="washpersonpid"    column="washpersonpid"    />
        <result property="carserviceid"    column="carserviceid"    />

    </resultMap>
	
	<sql id="selectOrdersVo">
        select orderid, ordernumber, ordertime, washtime, cabinetcode, chestsite, orderstatus, usercarid, shopid, userid, washpersonpid, carserviceid from orders
    </sql>
	
    <select id="selectOrdersList" parameterType="Orders" resultMap="OrdersResult">
        SELECT o.*, washpersonname FROM
        (SELECT orderid,
        washpersonpid,
        ordernumber ,
        username ,
        userphone ,
        ordertime ,
        washtime ,
        cabinetcode,
        usercarnumber ,
        usercarbrandname ,
        usercarcolor ,
        usercarlocation ,
        chestsite ,
        carservicename,
        carsereviceprice,
        shopaddress,
        orderstatus,
        orderevaluation
        FROM orders, usercar, customer,  carservice, shop
        WHERE orders.usercarid = usercar.usercarid
        AND customer.userid = orders.userid
        AND carservice.carserviceid = orders.carserviceid
        GROUP BY orderid DESC) as o LEFT JOIN carwashperson ON o.washpersonpid = carwashperson.washpersonpid
        <where>  
            <if test="orderid != null "> and orderid = #{orderid}</if>
             <if test="ordernumber != null  and ordernumber != '' "> and ordernumber = #{ordernumber}</if>
             <if test="ordertime != null "> and ordertime = #{ordertime}</if>
             <if test="washtime != null "> and washtime = #{washtime}</if>
             <if test="cabinetcode != null  and cabinetcode != '' "> and cabinetcode = #{cabinetcode}</if>
             <if test="chestsite != null  and chestsite != '' "> and chestsite = #{chestsite}</if>
             <if test="orderstatus != null  and orderstatus != '' "> and orderstatus = #{orderstatus}</if>
             <if test="usercarid != null "> and usercarid = #{usercarid}</if>
             <if test="shopid != null "> and shopid = #{shopid}</if>
             <if test="userid != null "> and userid = #{userid}</if>
             <if test="washpersonpid != null "> and washpersonpid = #{washpersonpid}</if>
             <if test="carserviceid != null "> and carserviceid = #{carserviceid}</if>
         </where>
    </select>


    <select id="selectOrdersById" parameterType="Integer" resultMap="OrdersResult">
         SELECT o.*, washpersonname FROM
        (SELECT orderid,
        washpersonpid,
        ordernumber ,
        username ,
        userphone ,
        ordertime ,
        washtime ,
        cabinetcode,
        usercarnumber ,
        usercarbrandname ,
        usercarcolor ,
        usercarlocation ,
        chestsite ,
        carservicename,
        carsereviceprice,
        shopaddress,
        orderstatus
        FROM orders, usercar, customer,  carservice, shop
        WHERE orders.usercarid = usercar.usercarid
        AND customer.userid = orders.userid
        AND carservice.carserviceid = orders.carserviceid
        GROUP BY orderid DESC) as o LEFT JOIN carwashperson ON o.washpersonpid = carwashperson.washpersonpid WHERE orderid = #{orderid}
    </select>


    <select id="findAll" resultType="com.aaa.project.system.orders.domain.Orders">
SELECT ordernumber,username,ordertime,washtime,cabinetcode,chestsite,orderstatus,washpersonstatus,
carservicename,usercar.usercarnumber,usercarbrandname,usercarcolor,usercarlocation,carsereviceprice
FROM orders,carservice,usercar,carwashperson,customer
WHERE carwashperson.washpersonpid=orders.washpersonpid
AND orders.carserviceid=carservice.carserviceid
AND orders.userid = customer.userid
AND orders.usercarid = usercar.usercarid
AND orders.orderstatus='进行中'
AND carwashperson.washpersonname=#{washpersonname}

    </select>
    <select id="selectWxByid" resultType="com.aaa.project.system.orders.domain.Orders">
                 SELECT o.*, washpersonname FROM
        (SELECT orderid,
        washpersonpid,
        ordernumber ,
        username ,
        userphone ,
        ordertime ,
        washtime ,
        cabinetcode,
        usercarnumber ,
        usercarbrandname ,
        usercarcolor ,
        usercarlocation ,
        chestsite ,
        carservicename,
        carsereviceprice,
        shopaddress,
        orderstatus
        FROM orders, usercar, customer,  carservice, shop
        WHERE orders.usercarid = usercar.usercarid
        AND customer.userid = orders.userid
        AND carservice.carserviceid = orders.carserviceid
        GROUP BY orderid DESC) as o LEFT JOIN carwashperson ON o.washpersonpid = carwashperson.washpersonpid WHERE ordernumber = #{ordernumber}
    </select>


    <insert id="insertOrders" parameterType="Orders">
        insert into orders
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderid != null  ">orderid,</if>
			<if test="ordernumber != null  and ordernumber != ''  ">ordernumber,</if>
			<if test="ordertime != null  ">ordertime,</if>
			<if test="washtime != null  ">washtime,</if>
			<if test="cabinetcode != null  and cabinetcode != ''  ">cabinetcode,</if>
			<if test="chestsite != null  and chestsite != ''  ">chestsite,</if>
			<if test="orderstatus != null  and orderstatus != ''  ">orderstatus,</if>
			<if test="usercarid != null  ">usercarid,</if>
			<if test="shopid != null  ">shopid,</if>
			<if test="userid != null  ">userid,</if>
			<if test="washpersonpid != null  ">washpersonpid,</if>
			<if test="carserviceid != null  ">carserviceid,</if>
            <if test="orderprice!= null  ">orderprice,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderid != null  ">#{orderid},</if>
			<if test="ordernumber != null  and ordernumber != ''  ">#{ordernumber},</if>
			<if test="ordertime != null  ">#{ordertime},</if>
			<if test="washtime != null  ">#{washtime},</if>
			<if test="cabinetcode != null  and cabinetcode != ''  ">#{cabinetcode},</if>
			<if test="chestsite != null  and chestsite != ''  ">#{chestsite},</if>
			<if test="orderstatus != null  and orderstatus != ''  ">#{orderstatus},</if>
			<if test="usercarid != null  ">#{usercarid},</if>
			<if test="shopid != null  ">#{shopid},</if>
			<if test="userid != null  ">#{userid},</if>
			<if test="washpersonpid != null  ">#{washpersonpid},</if>
			<if test="carserviceid != null  ">#{carserviceid},</if>
            <if test="orderprice != null  ">#{orderprice},</if>
         </trim>

    </insert>
	 
    <update id="updateOrders" parameterType="Orders">
        update orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="ordernumber != null  and ordernumber != ''  ">ordernumber = #{ordernumber},</if>
            <if test="ordertime != null  ">ordertime = #{ordertime},</if>
            <if test="washtime != null  ">washtime = #{washtime},</if>
            <if test="cabinetcode != null  and cabinetcode != ''  ">cabinetcode = #{cabinetcode},</if>
            <if test="chestsite != null  and chestsite != ''  ">chestsite = #{chestsite},</if>
            <if test="orderstatus != null  and orderstatus != ''  ">orderstatus = #{orderstatus},</if>
            <if test="usercarid != null  ">usercarid = #{usercarid},</if>
            <if test="shopid != null  ">shopid = #{shopid},</if>
            <if test="userid != null  ">userid = #{userid},</if>
            <if test="washpersonpid != null  ">washpersonpid = #{washpersonpid},</if>
            <if test="carserviceid != null  ">carserviceid = #{carserviceid},</if>
        </trim>
        where orderid = #{orderid}
    </update>

    <update id="updateOrdersStatus" parameterType="Integer">
        update orders SET orderstatus = '已接单'
        where orderid = #{orderid}
    </update>

    <update id="updateOrdersGoing" parameterType="Integer">
        update orders SET orderstatus = '进行中'
        where orderid = #{orderid}
    </update>


    <update id="updateOrdersStatusReject" parameterType="Integer">
        update orders SET orderstatus = '已拒单'
        where orderid = #{orderid}
    </update>

    <update id="updateOrdersStatusComfirm" parameterType="Integer">
        update orders SET orderstatus = '已完成'
        where orderid = #{orderid}
    </update>


    <update id="updateWx"  >
        UPDATE carwashperson,orders
SET washpersonstatus='空闲',orderstatus='已完成',orders.washpersonpid=NULL
WHERE carwashperson.washpersonpid=orders.washpersonpid
AND carwashperson.washpersonname=#{washpersonname}
    </update>


    <delete id="deleteOrdersById" parameterType="Integer">
        delete from orders where orderid = #{orderid}
    </delete>
	
    <delete id="deleteOrdersByIds" parameterType="String">
        delete from orders where orderid in 
        <foreach item="orderid" collection="array" open="(" separator="," close=")">
            #{orderid}
        </foreach>
    </delete>


    <!--微信端顾客查看所有订单-->
    <!--全部订单-->
    <select id="selectAllOrderByPhone" parameterType="String" resultType="map">
        SELECT * FROM orders,customer,usercar,shop,carservice
        where orders.userid=customer.userid
        and orders.usercarid=usercar.usercarid
        and orders.shopid=shop.shopid
        and orders.carserviceid=carservice.carserviceid
        and customer.userphone=#{userphone}
        ORDER BY orders.ordertime DESC
    </select>


    <!--微信端待接单-->
    <select id="selectAllWaitingOrder" resultType="map">
        SELECT *
        FROM orders, usercar, customer,  carservice, shop
        WHERE orders.usercarid = usercar.usercarid
        AND customer.userid = orders.userid
        AND carservice.carserviceid = orders.carserviceid
        AND orders.orderstatus="待接单"
        AND shop.shopid=orders.shopid
        AND customer.userphone=#{userphone}
        ORDER BY orders.ordertime DESC
    </select>

    <!--微信端进行中-->
    <select id="ingOrder" resultType="map">
        SELECT * FROM orders,customer,usercar,shop,carservice
        where orders.userid=customer.userid
        and orders.usercarid=usercar.usercarid
        and orders.shopid=shop.shopid
        and orders.carserviceid=carservice.carserviceid
        and orders.orderstatus="进行中"
        and customer.userphone=#{userphone}
        ORDER BY orders.ordertime DESC
    </select>

    <!--微信端已完成-->
    <select id="finishOrder" resultType="map">
        SELECT * FROM orders,customer,usercar,shop,carservice
        where orders.userid=customer.userid
        and orders.usercarid=usercar.usercarid
        and orders.shopid=shop.shopid
        and orders.carserviceid=carservice.carserviceid
        and orders.orderstatus="已完成"
        and customer.userphone=#{userphone}
        ORDER BY orders.ordertime DESC
    </select>

    <!--微信端已取消-->
    <select id="cancelledOrder" resultType="map">
        SELECT * FROM orders,customer,usercar,shop,carservice
        where orders.userid=customer.userid
        and orders.usercarid=usercar.usercarid
        and orders.shopid=shop.shopid
        and orders.carserviceid=carservice.carserviceid
        and orders.orderstatus="已取消"
        and customer.userphone=#{userphone}
        ORDER BY orders.ordertime DESC
    </select>

    <!--微信端取消订单-->
    <update id="updateByOrdernumber" >
        update orders set orderstatus='已取消',ordertime=now()  where ordernumber=#{ordernumber} and orderstatus='待接单'
    </update>

    <!--微信端根据订单编号查询-->
    <select id="selectByOrderNumber" resultType="map">
        SELECT * FROM orders,customer,usercar,shop,carservice
        where orders.userid=customer.userid
        and orders.usercarid=usercar.usercarid
        and orders.shopid=shop.shopid
        and orders.carserviceid=carservice.carserviceid
        and orders.ordernumber= #{ordernumber}
    </select>



</mapper>