<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.shop.mapper.ShopMapper">
    
    <resultMap type="Shop" id="ShopResult">
        <result property="shopid"    column="shopid"    />
        <result property="shopname"    column="shopname"    />
        <result property="shoplicense"    column="shoplicense"    />
        <result property="shopidno"    column="shopidno"    />
        <result property="shopaddress"    column="shopaddress"    />
        <result property="longLot"    column="long_lot"    />
    </resultMap>
	
	<sql id="selectShopVo">
        select shopid, shopname, shoplicense, shopidno, shopaddress, long_lot from shop
    </sql>
	
    <select id="selectShopList" parameterType="Shop" resultMap="ShopResult">
        <include refid="selectShopVo"/>
        <where>  
            <if test="shopid != null "> and shopid = #{shopid}</if>
             <if test="shopname != null  and shopname != '' "> and shopname = #{shopname}</if>
             <if test="shoplicense != null  and shoplicense != '' "> and shoplicense = #{shoplicense}</if>
             <if test="shopidno != null  and shopidno != '' "> and shopidno = #{shopidno}</if>
             <if test="shopaddress != null  and shopaddress != '' "> and shopaddress = #{shopaddress}</if>
             <if test="longLot != null  and longLot != '' "> and long_lot = #{longLot}</if>
         </where>
    </select>
    
    <select id="selectShopById" parameterType="Integer" resultMap="ShopResult">
        <include refid="selectShopVo"/>
        where shopid = #{shopid}
    </select>
        
    <insert id="insertShop" parameterType="Shop">
        insert into shop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shopid != null  ">shopid,</if>
			<if test="shopname != null  and shopname != ''  ">shopname,</if>
			<if test="shoplicense != null  and shoplicense != ''  ">shoplicense,</if>
			<if test="shopidno != null  and shopidno != ''  ">shopidno,</if>
			<if test="shopaddress != null  and shopaddress != ''  ">shopaddress,</if>
			<if test="longLot != null  and longLot != ''  ">long_lot,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shopid != null  ">#{shopid},</if>
			<if test="shopname != null  and shopname != ''  ">#{shopname},</if>
			<if test="shoplicense != null  and shoplicense != ''  ">#{shoplicense},</if>
			<if test="shopidno != null  and shopidno != ''  ">#{shopidno},</if>
			<if test="shopaddress != null  and shopaddress != ''  ">#{shopaddress},</if>
			<if test="longLot != null  and longLot != ''  ">#{longLot},</if>
         </trim>
    </insert>
	 
    <update id="updateShop" parameterType="Shop">
        update shop
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopname != null  and shopname != ''  ">shopname = #{shopname},</if>
            <if test="shoplicense != null  and shoplicense != ''  ">shoplicense = #{shoplicense},</if>
            <if test="shopidno != null  and shopidno != ''  ">shopidno = #{shopidno},</if>
            <if test="shopaddress != null  and shopaddress != ''  ">shopaddress = #{shopaddress},</if>
            <if test="longLot != null  and longLot != ''  ">long_lot = #{longLot},</if>
        </trim>
        where shopid = #{shopid}
    </update>

	<delete id="deleteShopById" parameterType="Integer">
        delete from shop where shopid = #{shopid}
    </delete>
	
    <delete id="deleteShopByIds" parameterType="String">
        delete from shop where shopid in 
        <foreach item="shopid" collection="array" open="(" separator="," close=")">
            #{shopid}
        </foreach>
    </delete>

    <!--全部商家-->
    <select id="selectAllShop" resultType="map">
        select shopname,shopaddress from shop
    </select>

    <!--搜索-->
    <select id="selectSearch" parameterType="java.lang.String" resultType="map">
        select * from shop where shopname =#{shopname,jdbcType=VARCHAR}
    </select>


</mapper>