<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.usercar.mapper.UsercarMapper">
    
    <resultMap type="Usercar" id="UsercarResult">
        <result property="usercarid"    column="usercarid"    />
        <result property="usercarnumber"    column="usercarnumber"    />
        <result property="usercarbrandname"    column="usercarbrandname"    />
        <result property="usercarphoto"    column="usercarphoto"    />
        <result property="usercarcolor"    column="usercarcolor"    />
        <result property="usercarlocation"    column="usercarlocation"    />
        <result property="userid"    column="userid"    />
    </resultMap>
	
	<sql id="selectUsercarVo">
        select usercarid, usercarnumber, usercarbrandname, usercarphoto, usercarcolor, usercarlocation,userid from usercar
    </sql>
	
    <select id="selectUsercarList" parameterType="Usercar" resultMap="UsercarResult">
        SELECT usercarid,usercarnumber,usercarbrandname,usercarphoto,usercarcolor,usercarlocation,o.username FROM usercar RIGHT JOIN
        (select customer.userid,username from usercar INNER JOIN customer ON usercar.userid = customer.userid ) as o ON o.userid = usercar.userid GROUP BY usercarnumber
        <where>  
            <if test="usercarid != null "> and usercarid = #{usercarid}</if>
             <if test="usercarnumber != null  and usercarnumber != '' "> and usercarnumber = #{usercarnumber}</if>
             <if test="usercarbrandname != null  and usercarbrandname != '' "> and usercarbrandname = #{usercarbrandname}</if>
             <if test="usercarphoto != null  and usercarphoto != '' "> and usercarphoto = #{usercarphoto}</if>
             <if test="usercarcolor != null  and usercarcolor != '' "> and usercarcolor = #{usercarcolor}</if>
             <if test="usercarlocation != null  and usercarlocation != '' "> and usercarlocation = #{usercarlocation}</if>
            <if test="userid != null "> and userid = #{userid}</if>
         </where>
    </select>

    <select id="selectUsercarById" parameterType="Integer" resultMap="UsercarResult">
        <include refid="selectUsercarVo"/>
        where usercarid = #{usercarid}
    </select>

    <select id="selectUsercarByUserId" resultType="com.aaa.project.system.usercar.domain.Usercar">
        <include refid="selectUsercarVo"/>
        where userid = #{userid}
    </select>

    <insert id="insertUsercar" parameterType="Usercar">
        insert into usercar
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="usercarid != null  ">usercarid,</if>
			<if test="usercarnumber != null  and usercarnumber != ''  ">usercarnumber,</if>
			<if test="usercarbrandname != null  and usercarbrandname != ''  ">usercarbrandname,</if>
			<if test="usercarphoto != null  and usercarphoto != ''  ">usercarphoto,</if>
			<if test="usercarcolor != null  and usercarcolor != ''  ">usercarcolor,</if>
			<if test="usercarlocation != null  and usercarlocation != ''  ">usercarlocation,</if>
            <if test="userid != null ">userid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="usercarid != null  ">#{usercarid},</if>
			<if test="usercarnumber != null  and usercarnumber != ''  ">#{usercarnumber},</if>
			<if test="usercarbrandname != null  and usercarbrandname != ''  ">#{usercarbrandname},</if>
			<if test="usercarphoto != null  and usercarphoto != ''  ">#{usercarphoto},</if>
			<if test="usercarcolor != null  and usercarcolor != ''  ">#{usercarcolor},</if>
			<if test="usercarlocation != null  and usercarlocation != ''  ">#{usercarlocation},</if>
            <if test="userid != null "> #{userid},</if>
         </trim>
    </insert>

    <insert id="addUsercar">
        INSERT into usercar (usercarnumber,usercarbrandname,usercarcolor,usercarlocation,userid)
        VALUES (#{usercarnumber},#{usercarbrandname},#{usercarcolor},#{usercarlocation},#{userid})
    </insert>

    <update id="updateUsercar" parameterType="Usercar">
        update usercar
        <trim prefix="SET" suffixOverrides=",">
            <if test="usercarnumber != null  and usercarnumber != ''  ">usercarnumber = #{usercarnumber},</if>
            <if test="usercarbrandname != null  and usercarbrandname != ''  ">usercarbrandname = #{usercarbrandname},</if>
            <if test="usercarphoto != null  and usercarphoto != ''  ">usercarphoto = #{usercarphoto},</if>
            <if test="usercarcolor != null  and usercarcolor != ''  ">usercarcolor = #{usercarcolor},</if>
            <if test="usercarlocation != null  and usercarlocation != ''  ">usercarlocation = #{usercarlocation},</if>
            <if test="userid != null ">userid = #{userid},</if>
        </trim>
        where usercarid = #{usercarid}
    </update>

    <update id="updateUsercars">
        update usercar
        <trim prefix="SET" suffixOverrides=",">
            <if test="usercarnumber != null  and usercarnumber != ''  ">usercarnumber = #{usercarnumber},</if>
            <if test="usercarbrandname != null  and usercarbrandname != ''  ">usercarbrandname = #{usercarbrandname},</if>
            <if test="usercarcolor != null  and usercarcolor != ''  ">usercarcolor = #{usercarcolor},</if>
            <if test="usercarlocation != null  and usercarlocation != ''  ">usercarlocation = #{usercarlocation},</if>
            <if test="userid != null ">userid = #{userid},</if>
        </trim>
        where usercarid = #{usercarid}
    </update>

    <delete id="deleteUsercarById" parameterType="Integer">
        delete from usercar where usercarid = #{usercarid}
    </delete>
	
    <delete id="deleteUsercarByIds" parameterType="String">
        delete from usercar where usercarid in 
        <foreach item="usercarid" collection="array" open="(" separator="," close=")">
            #{usercarid}
        </foreach>
    </delete>
    
</mapper>