<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId" >
					<div class="select-list">
						<ul>
							<li>
								订单编号：<input type="text" name="ordernumber"/>
							</li>

							<!--<li>
								下单时间：<input type="text" name="ordertime"/>
							</li>

							<li>
								洗车时间：<input type="text" name="washtime"/>
							</li>

							<li>
								钥匙柜取件码：<input type="text" name="cabinetcode"/>
							</li>

							<li>
								柜子位置信息：<input type="text" name="chestsite"/>
							</li>-->

							<li>
								订单状态：<input type="text" name="orderstatus"/>
							</li>

							<!--<li>
								车辆信息id：<input type="text" name="usercarid"/>
							</li>

							<li>
								商家id：<input type="text" name="shopid"/>
							</li>

							<li>
								用户id：<input type="text" name="userid"/>
							</li>

							<li>
								洗车人员id：<input type="text" name="washpersonpid"/>
							</li>-->

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:orders:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:orders:edit">
					<i class="fa fa-edit"></i> 修改订单
				</a>

				<!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:orders:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-danger btn-del btn-del disabled"  onclick="'javascript:reject('+${ordersr.orderid}+');'" shiro:hasPermission="system:orders:reject">
                					<i class="fa fa-remove"></i> 拒单
                </a>-->
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:orders:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var detailFlag = [[${@permission.hasPermi('system:orders:detail')}]];
        var editFlag = [[${@permission.hasPermi('system:orders:edit')}]];
        // var assignedFlag = [[${@permission.hasPermi('system:orders:assigned')}]];
        // var removeFlag = [[${@permission.hasPermi('system:orders:remove')}]];
        var receiveFlag = [[${@permission.hasPermi('system:orders:receive')}]];
        var confirmFlag = [[${@permission.hasPermi('system:orders:confirm')}]];
        var rejectFlag = [[${@permission.hasPermi('system:orders:reject')}]];
        var prefix = ctx + "system/orders";
        var status = [[${a}]];

        //var status = [[${a}]];


        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                detailUrl: prefix + "/detail/{id}",
                updateUrl: prefix + "/edit/{id}",
                //assignedUrl: prefix + "/assigned/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "订单",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'orderid', 
					title : '订单id',
					visible: false
				},
				{
					field : 'ordernumber', 
					title : '订单编号',
					sortable: true
				},
				{
                	field : 'username',
                	title : '客户名',
                	sortable: true
                },
				{
					field : 'ordertime', 
					title : '下单时间',
					sortable: true
				},
				{
					field : 'washtime', 
					title : '预约洗车时间',
					sortable: true
				},
				{
					field : 'cabinetcode', 
					title : '钥匙柜取件码',
					sortable: true
				},
				{
					field : 'chestsite', 
					title : '柜子位置信息',
					sortable: true
				},
				{
                    field : 'washpersonname',
                	title : '洗车人员姓名',
                	sortable: true
                },
				{
					field : 'orderstatus', 
					title : '订单状态',
					sortable: true
				},

		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="#" onclick="$.operate.detail(\'' + row.orderid + '\')"><i class="fa fa-search"></i>详细</a>&nbsp;');
		            	actions.push('<a id="btn" class="btn btn-primary btn-xs ' + receiveFlag + '" href="#" onclick="receive(\'' + row.orderid + '\')"><i class="fa fa-check-square-o"></i>接单</a> &nbsp;');
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="assigned(\'' + row.orderid + '\')"><i class="fa fa-edit"></i>指派</a> &nbsp;');
		            	actions.push('<a class="btn btn-info btn-xs ' + confirmFlag + '" href="#" onclick="confirm(\'' + row.orderid + '\')"><i class="fa fa-check-square-o"></i>确认</a> &nbsp;');
		            	actions.push('<a class="btn btn-danger btn-xs ' + rejectFlag + '" href="#" onclick="reject(\'' + row.orderid + '\')"><i class="fa fa-remove"></i>拒单</a> ');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

        /*接收订单弹窗*/
        function receive(orderid) {
          // var url = prefix + '/receive/' + orderid;
                //console.log(status)
        		    /*if (status==''){
                      $("#btn").attr("disabled", true);
        		    }else{
        		    }*/
          // $.modal.open("接单", url, '300', '150');
           console.log(status);
          $.modal.confirm("确认接收该" + $.table._option.modalName + "吗？", function() {
          				$.ajax({
          					type : 'post',
          					url: prefix + "/receive/" + orderid,
          					success : function(result) {
          						if (result.code == web_status.SUCCESS) {
          		                	$.modal.msgSuccess(result.msg);
          		                	//刷新表格
          		                	$.table.refresh();
          		                } else {
          		                	$.modal.msgError(result.msg);
          		                }
          					}
          				});
          			});

          }

        /*拒收订单弹窗*/
         function reject(orderid) {
             $.modal.confirm("确认拒绝该" + $.table._option.modalName + "吗？", function() {
                       				$.ajax({
                       					type : 'post',
                       					url: prefix + "/reject/" + orderid,
                       					success : function(result) {
                       						if (result.code == web_status.SUCCESS) {
                       		                	$.modal.msgSuccess(result.msg);
                       		                	//刷新表格
                       		                	$.table.refresh();
                       		                } else {
                       		                	$.modal.msgError(result.msg);
                       		                }
                       					}
                       				});
                       			});
           }

        /*指派人员弹窗*/
           function  assigned(orderid) {
             var url = prefix + '/edit/' + orderid;
             $.modal.open("指派", url, '800', '200');
           }

        /*确认订单弹窗*/
          function confirm(orderid){
             $.modal.confirm("真的已完成该" + $.table._option.modalName + "吗？", function() {
                       				$.ajax({
                       					type : 'post',
                       					url: prefix + "/confirm/" + orderid,
                       					success : function(result) {
                       						if (result.code == web_status.SUCCESS) {
                       		                	$.modal.msgSuccess(result.msg);
                       		                	//刷新表格
                       		                	$.table.refresh();
                       		                } else {
                       		                	$.modal.msgError(result.msg);
                       		                }
                       					}
                       				});
                       		});
          }

    </script>
</body>
</html>