<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	 <form class="form-horizontal m" id="form-orders-receive" th:object="${ordersa}">
	 <input id="orderid" name="orderid" th:field="*{orderid}"  type="hidden">
		<div align="center"> <h3>是否确认接单？！</h3> </div>
		</form>
	</div>

	<div th:include="include :: footer"></div>


<script type="text/javascript">
		var prefix = ctx + "system/orders"
		$("#form-orders-receive").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});

		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/receive", $('#form-orders-receive').serialize());
	        }
	    }
	</script>
</body>

</html>
