<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
     <!-- 引入 echarts.js -->
     <script th:src="@{/js/echarts.js}"></script>
    <!--360浏览器优先以webkit内核解析-->
    <title>车车有洗</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <div id="total" th:name="total" th:text="${total}"></div>
       <div th:include="include :: footer"></div>
       <script type="text/javascript" th:inline="javascript">

       var dom = document.getElementById("container");
       var myChart = echarts.init(dom);
       var prefix = ctx + "system/debty";
   $.ajax({
         type : "post",
         async : false,
         url : prefix+"/Statistical",
         data : {},
         dataType : "json",        //返回数据形式为json
         success : function(result){
             if(result){

                var total = result.rows[""+0+""].total;
                var income = result.rows[""+0+""].income;
                var loss = result.rows[""+0+""].loss;
                console.log(total);
                myChart.setOption({

                     backgroundColor: '#2c343c',
                         title: {
                             text: '车车有洗',
                             left: 'center',
                             top: 20,
                             textStyle: {
                                 color: '#edf9ea'
                             }
                         },

                         tooltip : {
                             trigger: 'item',
                             formatter: "{a} <br/>{b} : {c} ({d}%)"
                         },

                         visualMap: {
                             show: false,
                             min: 80,
                             max: 600,
                             inRange: {
                                 colorLightness: [0, 1]
                             }
                         },
                         series : [
                             {
                                 name:'查看数据',
                                 type:'pie',
                                 radius : '55%',
                                 center: ['50%', '50%'],
                                 data:
                                [
                                     {value:total, name:'订单数量'},
                                     {value:income, name:'总盈利'},
                                     //{value:235, name:'视频广告'},
                                     //{value:400, name:'搜索引擎'}
                                 ].sort(function (a, b) { return a.value - b.value; }),
                                 roseType: 'radius',
                                 label: {
                                     normal: {
                                         textStyle: {
                                             color: 'rgba(255, 255, 255, 0.3)'
                                         }
                                     }
                                 },
                                 labelLine: {
                                     normal: {
                                         lineStyle: {
                                             color: 'rgba(255, 255, 255, 0.3)'
                                         },
                                         smooth: 0.2,
                                         length: 10,
                                         length2: 20
                                     }
                                 },
                                 itemStyle: {
                                     normal: {
                                         color: '#c21b1d',
                                         shadowBlur: 200,
                                         shadowColor: 'rgba(0, 0, 0, 0.5)'
                                     }
                                 },

                                 animationType: 'scale',
                                 animationEasing: 'elasticOut',
                                 animationDelay: function (idx) {
                                     return Math.random() * 200;
                                 }
                             }
                         ]
                });
             }
         }

   });

       </script>
   </body>
</html>
