<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-carwashperson-edit" th:object="${carwashperson}">
            <input id="washpersonpid" name="washpersonpid" th:field="*{washpersonpid}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">洗车人员手机号：</label>
				<div class="col-sm-8">
					<input id="washpersonphone" name="washpersonphone" th:field="*{washpersonphone}" class="form-control" type="text" placeholder="请输入11位手机号码">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">洗车人员姓名：</label>
				<div class="col-sm-8">
					<input id="washpersonname" name="washpersonname" th:field="*{washpersonname}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group" align="center">
               <label class="col-sm-3 control-label">分配商家：</label>
                    <div class="col-sm-8">
                    <select id="shopid" name="shopid" class="form-control" >
                    <option th:each="washpersonList:${shopList}"  th:value="${washpersonList.shopid}" th:text="${washpersonList.shopname}"></option>
                      </select>
                 </div>
            </div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">洗车人员状态：</label>
	              <div class="col-sm-8">
	              <input id="washpersonstatus" name="washpersonstatus" th:field="*{washpersonstatus}" class="form-control" type="text" th:border="0">
                 </div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/carwashperson"
		$("#form-carwashperson-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()&&(/^1[3456789]\d{9}$/.test(phone))) {
	            $.operate.save(prefix + "/edit", $('#form-carwashperson-edit').serialize());
	        }else{
	            alert("手机号码有误,请重试");
	        }
	    }
	</script>
</body>
</html>
